<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lagos.ligo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ListAvailableHelp"/>
        <activity android:name=".AskForHelp" />
        <activity android:name=".UserProfile" />
        <activity android:name=".SigninActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:parentActivityName=".WelcomeScreenActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lagos.ligo.WelcomeScreenActivity" />
        </activity>


        <activity android:name=".SignupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".WelcomeScreenActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lagos.ligo.WelcomeScreenActivity" />
        </activity>


        <activity  android:name=".MainActivity">
        </activity>

        <activity
            android:name=".WelcomeScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_welcome_screen"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>